*{
    padding: 0px;
    margin: 0px;
}

body{
    background-color: black;
}

html {
  scroll-behavior: smooth;
}

.container{
    width: 100%;
}

.container1{
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 20px;
}

.kryesori a{
    color: #c7c7c7;
    font-size: 35px;
    font-family: 'Bebas Neue', sans-serif;
    text-decoration: none;
    padding: 3px;
}

.kryesori1 a {
    color: #c7c7c7;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 12px;
    text-decoration: none;
    border-bottom: 1px solid transparent; 
    transition: border-color 0.5s;
}

.kryesori1 a:hover {
    width: 20%;
    border-bottom: 1px solid rgb(215, 232, 135);
}

.kontainer{
    width: 80%;
    margin: 0 auto;
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.kontaineri{
    width: 45%;
    gap: 60px;
} 

.konth1{
    color: white;
    font-size: 100px;
    font-family: 'Bebas Neue', sans-serif;
    line-height: 0.9;
}

.kontp{
    color: #c7c7c7;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
}

.butoni{
    gap: 10px;
    display: flex;
    justify-content: left;
}

.buton1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background-color: rgb(215, 232, 135);
    color: #1a1a1a;
    font-size: 16px;
    font-family: Manrope, sans-serif;
    font-weight: 600;
    padding: 10px 18px;
    border-radius: 50px;
    width: 30%;
    text-decoration: none;
    transition: 0.3s ease;
}

.buton1 i{
    font-size: 20px;      
    transition: transform 0.3s ease, color 0.3s ease;
}

.buton1:hover{
    background-color: #222;
    color: rgb(215, 232, 135);
}

.buton1:hover i{
    transform: translateX(4px); 
}

.buton2{
    font-size: 25px;
    background-color: #1a1a1a;
    color: rgb(215, 232, 135);
    border-radius: 50%;
    padding: 13px; 
    border: none;
}

.buton3{
    font-size: 25px;
    background-color: #1a1a1a;
    color: rgb(215, 232, 135);
    border-radius: 50%;
    padding: 13px;
    border: none;
    transition: all 0.1s;
}


.buton2:hover{
    
 background-color:#4d4a4a;
}

.buton3:hover{
     background-color:#4d4a4a;
}

.kontainer2 img{
    width: 568px;
    height: 568px;
    border-radius: 10px;
    object-fit: cover;
}

.vij{
    width: 90%;
    margin: 0 auto;     
    height: 1px;           
    background-color:#c7c7c7;
    opacity: 0.5;
    margin-top: 80px;  
}

.work{
    width: 100%;
    margin: 0 auto;
}

.project{
    width: 80%;
    margin: 0 auto;
    margin-top: 100px;
}

.project h1{
    color: white;
    font-family: 'Bebas Neue', sans-serif;
    font-weight:400;
    font-size: 80px;
}

.project p{
    color: #c7c7c7;
    font-family: Arial, Helvetica, sans-serif;
    width: 42%;
    margin-top: 20px;
}

.project1 {
    width: 100%;
    margin: 0 auto;
}

.projekt {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap; 
    margin-top: 80px;
}

.projektimg img {
    background-color: #1a1a1a;
    padding: 45px;
    padding-top: 100px;
    padding-bottom: 100px;
    width: 500px; 
    height: auto;
    border-radius: 14px; 
}

.projektpro {
    width: 40%;
    max-width: 600px; 
}

.projektpro h1 {
    color: white;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 35px;
}

.projektpro p {
    margin-top: 20px;
    color: #c7c7c7;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}

.projektpro h3{
    margin-top: 20px;
    font-family: Manrope, sans-serif;
    color: white;
    font-size: 18px;
    font-weight: 500;
    display: inline-block;
    border-bottom: 1px solid white;
    padding-bottom: 6px;
    width: 100%;
}


.h2{
   display: flex;
   justify-content: center;
   text-align: center;
}

.projektpro h2{
    color: white;
    margin-top: 20px;
    font-family: Manrope, sans-serif;
    font-size: 17px;
    font-weight: 400;
    display: inline-block;
    border-bottom: 1px solid white;
    padding-bottom: 6px;
    width: 100%;
  }

  .link{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .link a{
    display: inline-block;
    margin-top: 20px;
    color: rgb(215, 232, 135);
    text-underline-offset: 4px;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
  }





.about {  
    width: 100%;
    margin: 0 auto;
    color: white;
    font-family: Manrope, sans-serif;
}

.abouts {
    width: 80%; 
    display: flex;
    justify-content: space-between;
    align-items: flex-start; 
    margin: 0 auto;
    gap: 20px; 
}

.about1 {
    margin-top: 80px;
    width: 40%;
}

.abouth1 {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 400;
    font-size: 80px;
    margin: 0;
}

.about2 {
    margin-top: 80px;
    width: 55%; 
}

.abouth2 {
    font-size: 35px;
    font-weight: 500;
}

.aboutp2 {
    margin-top: 20px;
    color: #c7c7c7;
    font-size: 18px;
    line-height: 1.6;
}

.aboutlink{
    margin-top: 20px;
}

.aboutlink a {
    color: rgb(215, 232, 135);
    text-decoration: underline;
    text-underline-offset: 4px;
    
}

.aboutimg{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.aboutimg img{
    width: 1300px;
    height: 700px;
    border-radius: 30px;
    object-fit: cover;
}



.contacts {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 50px;         
    padding: 50px 10%;
    max-width: 1200px;
    margin: 0 auto;
    color: white;
    font-family: Manrope, sans-serif;
}

.contact-left {
    flex: 1;   
}

.contact-left h1 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 80px;
    font-weight: 300;
    margin-bottom: 20px;
}

.contact-left p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
    width: 55%;
}

.contact-left p a{
    color: rgb(215, 232, 135);
}

.emailp{
    align-items: center;
    text-decoration: underline;
    color: rgb(215, 232, 135);
}


.contact-right {
    flex: 1; 
}

.inputi label {
    display: block;
    margin-bottom: 15px;
    font-size: 16px;
}

.inputi input, 
.inputi textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    background-color: #222;
    color: white;
    border: none;
    border-radius: 5px;
    font-family: Manrope, sans-serif;
}

.inputi textarea {
    height: 100px;
    resize: none;
}

.mores {
    display: flex;            
    justify-content: center;    
    align-items: center;
    min-height: 100vh;         
}

.more {
    width: 80%;
    margin: 0 auto;
    display: flex;           
    justify-content: center;    
    align-items: center;        
    gap: 40px;                  
}


.moreh1 {
    color: white;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 400;
    font-size: 100px;
    line-height: 0.9;

}

.morep {
    margin-top: 20px;
    color: #c7c7c7;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 1.6;
}

.moreimg img{
    width: 400px;
    height: 500px;
    object-fit: cover;
    border-radius: 30px;
}

.social-buttons {
    display: flex;          
    gap: 15px;              
    margin-top: 40px;  
    align-items: center;
}

.social-buttons a {
    display: flex;
    align-items: center;
    font-size: 25px;
    padding: 13px;
    justify-content: center;
    text-decoration: none;
}



.buton10 i{
    font-size: 20px;      
    transition: transform 0.3s ease, color 0.3s ease;
}

.buton10{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
    background-color: rgb(215, 232, 135);
    color: #1a1a1a;
    font-size: 18px;
    font-family: Manrope, sans-serif;
    font-weight: 600;
    padding: 17px 22px;
    border-radius: 50px;
    width: 35%;
    text-decoration: none;
    transition: all 0.3s ease;
}

.buton10:hover{
    background-color: #222;
    color: rgb(215, 232, 135);
}

.buton10:hover i{
    transform: translateX(4px); 
}

.kurs{
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.kursi a{
    display: flex;              
    align-items: center;        
    gap: 8px;                  
    font-family: Manrope, sans-serif;
    font-weight: 700;
    font-size: 17px;
    text-decoration: none;
    background-color: rgb(215, 232, 135);
    color: #1a1a1a;
    padding: 18px 28px;
    border-radius: 40px;
    transition: 0.3s ease;
}

.kursi a i{
    font-size: 22px;          
    padding: 9px;
    border-radius: 50%;
}


.kursi a:hover{
    background-color: #222;
    color: rgb(215, 232, 135);
    transform: translateY(-2px);
} 